{% extends "base.html" %}
{% block title %}Review Checker{% endblock %}

{% block content %}
<div class="container">
    <br />
    <div class="row">
      <div class="col">
        <h1>Check Incorrect Reviews</h1>
        <hr>
        <form action="/" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
              <label class="form-label" for="reviewFile">Select CSV</label>
              <input type="file" accept=".csv" id="reviewFile" class="form-control"
                name="reviews_csv"
                placementholder = "Click to select file"  
              >
            </div>

          <button type="submit" class="btn btn-primary">Upload</button>
        </form>
      </div>
    {% if res_headers %}
      <div class="container">
        <br />
        <table class="table">
          <thead>
            <tr class="table_header">
              {% for header in res_headers %}
              <th class="table_cell">{{ header }}</th>
              {% endfor %}
            </tr>
            <thead>
            <tbody>
            <tr>
              {% for row in res_data %}
                <tr class="table_row">
                  {% for cell in row %}
                  <td class="table_cell">{{ cell }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
              </tr>
              </tbody>
        </table>
      </div>
    {% else %}
    <div class="container">
      <br />
      <h4>
        Incorrect reviews will be displayed here
      </h4>
    </div>
    {% endif %}
    </div>
  </div>
{% endblock %}